rules_version = '2';

// Perhatikan baris ini: Mesti 'firebase.storage', BUKAN 'cloud.firestore'
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // 1. Benarkan sesiapa sahaja MELIHAT gambar (Read)
      allow read: if true;

      // 2. Benarkan upload/delete HANYA jika user semak mime type (Write)
      // Allow write if authenticated AND (delete OR (create/update AND is image))
      allow write: if request.auth != null && (
        request.method == 'delete' || 
        request.resource.contentType.matches('image/.*') || 
        request.resource.contentType.matches('application/gpx+xml')
      );
    }
  }
}